<div id="auth">
    <p class="display-4 text-uppercase text-center fw-bold mb-4">Register</p>

    <form method="post" class="w-50 m-auto">
        <div class="mb-3">
            <label for="username" class="form-label">Email</label>
            <input name="username" id="username" type="email" class="form-control" placeholder="email@email.com" required />
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" id="password" class="form-control" type="password" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
            {{!-- <img src="/images/show.png" alt="Show/Hide" id="imgShowHide" onclick="showHide()" /> --}}
        </div>
        <div class="mb-3">
            <label for="confirm" class="form-label">Confirm Password</label>
            <input name="confirm" id="confirm" type="password" class="form-control" placeholder="Confirm Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
            <span id="pwMsg"></span>
        </div>
        <div class="mb-3">
            <label for="userType" class="form-label">User Type</label>
            <select name="userType" id="userType" class="form-control" required>
                <option value="">Select User</option>
                <option value="Student">Student</option>
                <option value="Landlord">Landlord</option>
            </select>
        </div>
        <div class="m-auto text-center">
            <button class="btn btn-danger text-uppercase fw-bold m-3">Register</button>
            <hr />
            Already have an account? <a href="/auth/login" title="Login">Login</a>
        </div>
    </form>
</div>