<div class="m-auto text-center ">
    <div class="bg-danger m-auto ">
        <h1 class="p-3  text-light text-uppercase fw-bold">{{title}}</h1>
    </div>
</div>

<div class="row m-auto text-center pt-5">
    <div class="col-6 text-center m-auto p-3">
        <img src="images/Photo.jpg" alt="" class="w-75 rounded-3">
    </div>
    <div class="col-6 align-items-center" id="contact">
        <h2 class="fw-bold text-uppercase pb-5 ">For any Questions or queries:</h2>
        <a href="mailto:studenthavenbarrie@gmail.com" class="text-dark h3">studenthavenbarrie@gmail.com</a>
    </div>
</div>