<div id="landing" class="m-auto text-center">
    {{!-- <div class="bg-white opacity-75 w-50 m-auto p-3"> --}}
        <h1 class="display-3 text-uppercase fw-bold">{{title}}</h1>
        <hr class="w-25 m-auto text-center"/>
        <p class="h1 pt-2">BARRIE</p>
    {{!-- </div> --}}
</div>

<p class="display-4 text-uppercase fw-bold text-center p-3" id="about-title">About Us</p>
{{!-- <hr class="w-50 m-auto text-center"> --}}
<section class="about-section">
    <div class="container-fluid">
        <!-- top about CCSI box -->
        <div class="row align-items-center p-4">
            <div class="col-lg-6 col-md-12 col-sm-12 ">
                <div class="about-desc ">
                    <h4>At our core, we are dedicated to building sustainable
                        communities that empower positive change through innovation and
                        collaboration.
                    </h4>
                    <br>
                    <h4>
                        We believe that every individual and organization has
                        the potential to make a meaningful impact on the world around us.
                    </h4>
                    <br>
                    <h4>
                        That's why we have created a space where people can come together to
                        share ideas, develop new approaches, and work towards a common goal
                        of building a better future for all.
                    </h4>
                </div>
            </div>
            <!-- Image Column -->
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="about-img">
                    <figure class="m-auto text-center">
                        <a href="#" class="lightbox-image" data-fancybox="images">
                            <img title="About" id="about" src="images/haven.jpg" alt="" />
                        </a>
                    </figure>
                </div>
            </div>
        </div>
        <!-- new row for goals mission and vision-->
        <div class="row align-items-center">
            <section class="author mt-4">
                <!-- Goals SECTION -->
                <p class="display-3 text-danger text-uppercase text-center p-4 w-75 m-auto border-danger border-bottom border-top"> How We Can Help You</p>
                
                <!-- goal one -->
                <div class="row p-4 mt-3">
                    <div class="col-sm-12 col-md-6 align-self-center">
                        <img src="images/help1.jpg" class="w-75" />
                    </div>
                    <div class="col-sm-12 col-md-6 align-self-center">
                        <h1 class="text-success">Housing Tips and Resources</h1>
                        <h4 class="p-2">
                            Access expert tips and resources to navigate the Canadian rental market effectively. Learn about tenant rights, rental agreements, and essential amenities to consider when searching for accommodation.
                        </h4>
                    </div>

                </div>
                <!-- goal 2 -->
                <div class="row p-4">
                    <div class="col-sm-12 col-md-6 align-self-center">
                        <h1 class="text-success">Real-Time Support</h1>
                        <h4 class="pt-2">
                            Our dedicated support team is available to answer your queries and concerns promptly. Whether you need help with understanding a rental contract or have questions about a listing, we're here to assist you.
                        </h4>
                    </div>
                    <div class="col-sm-12 col-md-6 m-auto text-center">
                        <img src="images/help2.jpg" class="w-75" />
                    </div>
                </div>
                
                <div class="row mb-3 mt-3">
                    <div class="col-sm-12 col-md-12 p-0 ">
                        <p class="text-danger text-center display-4 bg-dark p-3 w-50 m-auto">VERIFIED LISTINGS</p>
                        <div class=" m-auto text-center p-3">
                            <h4 class="mt-5">
                                At StudentHousingBarrie.com, we understand the importance of finding genuine, reliable accommodation options for your stay in Barrie. Our Verified Listings Section connects you directly with trustworthy house owners who have been thoroughly vetted to ensure the legitimacy of their rental properties.
                            </h4>
                            <br>
                            <h4>
                                We partner with reputable landlords and property managers who prioritize the well-being of international students. By using this platform, you can rest assured that you're dealing with trustworthy individuals who value your experience as a student in Barrie.
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="row p-4 mb-5">
                    <div class="col-sm-12 col-md-12 ">
                        <p class="text-primary text-center display-3">OUR GOAL</p>
                        <div class="w-75 m-auto text-center ">
                            <h4 class="mt-5">
                                At StudentHousingBarrie.com, we prioritize your safety and well-being above all else. With our comprehensive housing scam awareness section and verified listings, you can confidently embark on your journey to find secure and legitimate housing options as an international student in Barrie.
                            </h4>
                            <br>
                            <h4>
                                We believe that every student deserves a safe and enjoyable living experience during their educational pursuits, and we're committed to making that a reality for you.
                            </h4>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row align-items-center mt-5">
            <p class="display-4 text-uppercase fw-bold text-center p-3" id="member-title">MEMBERS</p>
            
            <div class=" m-auto w-75 p-5">
                <h1 class="display-5 text-uppercase pb-5 display-5">Sylesh Suresh</h1>
                <h2 class="display-5 text-uppercase pb-5 text-end">Mohima Dutta</h2>
                <h2 class="display-5 text-uppercase pb-5 ">Albin Binu</h2>
                <h2 class="display-5 text-uppercase pb-5 text-end">Abhilash Nair</h2>
            </div>
        </div>
    </div>
</section>

<hr class="footerHR" />
<div class="m-auto text-center pt-4 mb-3">
    <h1 class="display-5 text-uppercase fw-bold">STUDENT HAVEN</h1>
    <hr class="w-25 m-auto text-center"/>
    <p class="h3 pt-2">BARRIE</p>
</div>