<div id="scam" class="m-auto text-center">
    <div class=" w-50 m-auto p-3 ">
        <h1 class="display-3 text-uppercase fw-bold ">{{title}}</h1>
        <hr class="w-25 m-auto text-center"/>
        <p class="h1 fw-bold pt-2">REAL-LIFE</p>
    </div>
</div>
{{!-- Photo by <a href="https://unsplash.com/@tme18?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marvin Esteve</a> on <a href="https://unsplash.com/photos/4y8A6Ve-3GE?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> --}}

<div class="m-auto text-center ">
    <div class="m-auto mt-3">
        <p class="display-5 bg-warning fw-bold text-dark text-uppercase text-center p-2 w-50 m-auto border-dark border-3 border">Our Aim</p>
    </div>
</div>


<div class="row m-5">
    <div class="col-md-6 align-self-center">
        <h4 class="lh-base">
            Our dedicated Housing Scams Section aims to equip you with essential knowledge and tools to identify and avoid such fraudulent activities.
        </h4>
        <br />
        <h4 class="lh-base">
            Here, you'll find comprehensive articles, guides, and real-life stories shared by fellow students who have encountered housing scams. We explore various types of scams prevalent in the country and offer practical tips to stay vigilant. From fake rental listings to identity theft schemes, we've got you covered with the latest information to protect your interests and financial security.
        </h4>
    </div>
    <div class="col-md-6 m-auto text-center"><img src="images/warning.jpg" class="w-75" alt=""></div>
    {{!-- Photo by <a href="https://unsplash.com/@marcel_eberle?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Marcel Eberle</a> on <a href="https://unsplash.com/photos/pCHl_wqfr0M?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> --}}
</div>

<div class="m-auto text-center ">
    <div class="m-auto mt-3">
        <p class="display-5 fw-bold text-success text-uppercase text-center p-2 w-75 m-auto border-success border-3 border-top border-bottom">EXPERIENCE AND ADVICE</p>
    </div>
</div>

<div class="m-5">
    <div class="m-5 ">
        <div class="d-flex justify-content-start ">
            <h4 class="m-4 w-75 lh-base border-top border-bottom border-2 p-3 fst-italic">When I started looking for houses in Canada from my home country, I used online platforms to find houses and I found one house. It looked real and the landlord spoke properly and even told he will help me in arranging pick ups from the airport. But he wanted a deposit to confirm the house booking. But after I transferred the money, he blocked my number, and I was not able to get in touch with him. <br> <div class="m-auto text-end pt-2"><small class="text-muted ">- An International Student in Barrie, Ontario</small></div></h4>
            
        </div>
        <div class="d-flex justify-content-end">
            <h4 class="m-4 w-75 lh-base border-top border-bottom border-2 p-3 fst-italic">This happened a year ago when I was trying to move to Barrie. I spoke with the landlord through an online platform and even visited the place to confirm the house. As I liked the house the landlord asked me to sign a rental agreement. It asked for my SIN number. As I was new to Canada, I did not know that SIN number should not be shared. But luckily, I sent the agreement to one my friends who was already living here to just check it out. Then I got to know that you should not share the SIN number. I was lucky but it’s not the case with everyone else. <br> <div class="m-auto text-end pt-2"><small class="text-muted">- An International Student in Barrie, Ontario</small></div></h4>
        </div>
    </div>
</div>

<div class="m-5">
    <div class="w-50 m-auto text-center  border-start border-end border-3 border-dark">
        <h1 class="text-dark p-0 m-0  display-4">ADVICES</h1>
    </div>

    <div class="m-auto w-75 ">
        <h4 class="mt-5 lh-base bg-success text-light border border-3 border-dark p-4">My advice for the students would be to check out the house physically before signing any agreement. If possible, send the agreement to someone who has been in Canada for some years and tell them to have a look at it before signing.</h4>

        <h4 class="mt-5 lh-base bg-success text-light border border-3 border-dark p-4">Do not share any personal information with anyone. Like SIN number, bank details etc. </h4>

        <h4 class="mt-5 lh-base bg-success text-light border border-3 border-dark p-4">If the housing photos look blurry then it probably means it is fake. This is a tip to investigate while looking for houses on an online platform. </h4>

        <h4 class="mt-5 lh-base bg-success text-light border border-3 border-dark p-4">Do not deal with cash. Make sure that you either do a wire transfer or get a written agreement stating that you have paid the landlord. </h4>
    </div>
</div>

<div class="m-5 pt-4">
    <div class="w-25 text-center p-2 border-top border-bottom border-3 border-dark">
        <h1 class="text-dark p-0 m-0 fw-bold ">ARTICLES : </h1>
    </div>

    <div class="m-auto w-75 ">
        <h4 class="mt-5 lh-base border-start border-end border-3 border-dark p-4 text-center"><a href="https://studentlife.utoronto.ca/task/housing-scams-and-how-to-spot-them/" class="text-dark" target="_blank">Housing Scams and How to Spot Them</a><small class="text-muted"> - Written by University of Toronto.</small></h4>

        <h4 class="mt-5 lh-base border-start border-end border-3 border-dark p-4 text-center"><a href="https://www.rentalsfornewcomers.com/blog/how-newcomers-can-avoid-rental-scams" class="text-dark" target="_blank">Here's How Newcomers to Canada and Students Can Spot and Avoid Rental Scams</a> <br> <small class="text-muted"> - Written by Rentals for Newcomers </small></h4>

        <h4 class="mt-5 lh-base border-start border-end border-3 border-dark p-4 text-center"><a href="https://www.springfinancial.ca/blog/cybersecurity/signs-of-a-rental-scam" class="text-dark" target="_blank">5 signs of a rental scam in Canada</a> <small class="text-muted"> - Written by Spring Financial </small></h4>

        <h4 class="mt-5 lh-base border-start border-end border-3 border-dark p-4 text-center"><a href="https://globalnews.ca/news/9532094/newcomer-rental-scam-calgary/" class="text-dark" target="_blank">Newcomers to Canada 'most vulnerable' to rental scams</a> <br> <small class="text-muted"> - Written by Tomasia Dasilva from Global News </small></h4>

        <h4 class="mt-5 lh-base border-start border-end border-3 border-dark p-4 text-center" ><a href="https://www.globenewswire.com/news-release/2022/08/16/2499297/0/en/Rental-scams-on-the-rise-across-Canada-as-competition-for-housing-increases.html" class="text-dark" target="_blank">Rental scams on the rise across Canada as competition for housing increases</a> <br> <small class="text-muted"> - Written by Global Newswire </small></h4>

        <h4 class="mt-5 lh-base border-start border-end border-3 border-dark p-4 text-center"><a href="https://storeys.com/rental-scams-on-the-rise-across-canada/" class="text-dark" target="_blank">These Rental Scams Are On The Rise Across Canada</a> <small class="text-muted"> - Written by Storeys </small></h4>

        <div class="text-center mt-5">
            <h5 class="text-muted fw-bold text-uppercase">*This information is not sponsored</h5> 
        </div>
    </div>
    
    <div class="m-auto">
        <h4 class="mt-5 lh-base border-top  border-3 border-dark p-3 fw-bold">We will keep adding new articles to the page you can come back anytime to read about the scams and equip yourself with knowledge to help you and your friends. </h4>
        <h4 class="mt-2 lh-base p-3 fw-bold">Reach out to us if you have any questions at: <a href="mailto:studenthavenbarrie@gmail.com" class="text-dark border-bottom border-3 border-danger text-decoration-none">studenthavenbarrie@gmail.com</a> </h4>

    </div>
</div>