<div class="m-auto text-center p-3">
    {{!-- <div class="bg-white opacity-75 w-50 m-auto p-3"> --}}
        <h1 class="text-uppercase fw-bold">{{title}}</h1>
    {{!-- </div> --}}
</div>

<div class=" m-auto w-50 ">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="houseImages" class="form-label">House Images</label>
            <input class="form-control" type="file" name="houseImages" id="houseImages" accept=".jpg, .jpeg, .png" multiple>
            <div id="postVerification" class="form-text text-muted">
                Upload upto 4 images
            </div>
        </div>
        <div class="mb-3">
            <label for="subject" class="form-label">Subject</label>
            <input name="subject" id="subject" class="form-control" placeholder="Subject for the posting" required /> 
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" id="description" class="form-control" placeholder="Description for the housing" required></textarea>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input name="price" id="price" class="form-control" placeholder="Desired price" required />
        </div>

        <div class="md-3 m-auto text-center">
            <button type="submit" class="btn btn-danger mb-3">Submit</button>
        </div>
    
    </form>
</div>